name: Lean Action CI

on:
  push:
    branches:
      - main
    paths:
      - "lean/**"
  pull_request:
    paths:
      - "lean/**"
  workflow_dispatch:

jobs:

  lean:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: leanprover/lean-action@v1
        with:
          lake-package-directory: ./lean
